[submodule "SVPullToRefresh"]
	path = SVPullToRefresh
	url = https://github.com/samvermette/SVPullToRefresh.git
[submodule "Common/submodule/SVPullToRefresh"]
	path = Common/submodule/SVPullToRefresh
	url = https://github.com/samvermette/SVPullToRefresh.git
[submodule "Common/submodule/MNCalendarView"]
	path = Common/submodule/MNCalendarView
	url = https://github.com/min/MNCalendarView.git
[submodule "Common/submodule/CocoaLumberjack"]
	path = Common/submodule/CocoaLumberjack
	url = https://github.com/CocoaLumberjack/CocoaLumberjack.git
