<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HintDialogs</key>
	<array>
		<dict>
			<key>kHintDialogFramesKey</key>
			<array>
				<string>{{75, 150},{50,50}}</string>
			</array>
			<key>kHintDialogFramesKey-568</key>
			<array>
				<string>{{75, 150},{50,50}}</string>
			</array>
			<key>kHintDialogMessageKey</key>
			<string>♥ 除支持&quot;时间, 时长&quot;的自动识别外, 姨妈日记中还添加了对&quot;第几天&quot;,&quot;姨妈庙愿望&quot;的自动识别

(详情请见输入示例)</string>
			<key>kHintDialogImageKey</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
